.EventCard {
  width: 350px;
  height: 450px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-size: 16px;
}
.EventCard .thumb {
  width: auto;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}
.EventCard .infos {
  width: auto;
  height: 450px;
  position: relative;
  padding: 5px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.EventCard .title {
  padding-right: 40px;
}
.EventCard .infos .title {
  position: relative;
  margin: 7px 0;
  letter-spacing: 2px;
  color: #152536;
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 0 0 0px #32577f;
}
.EventCard .infos .time {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* width: 35px; */
  text-transform: none;
  height: 23px;
  font-size: 0.9em;
  color: rgba(67, 83, 100, 0.7);
  background-size: 100% auto;
  display: inline-block;
}
.EventCard .infos .detail {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85em;
  color: rgba(21, 37, 54, 0.7);
}
.EventCard .infos .txt {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 13px;
  line-height: 2;
  font-size: 0.95em;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.EventCard .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

.EventCard .ellipss {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5em;
  max-height: 3em;
}

.EventCard:hover .ellipss {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: 1.5em;
  max-height: 7.5em;
}
.EventCard:hover .infos {
  -webkit-transform: translateY(-320px);
  transform: translateY(-320px);
}
.EventCard:hover .infos .seats,
.EventCard:hover .infos .txt,
.EventCard:hover .infos .details {
  opacity: 1;
}
.EventCard {
  text-align: left;
}

.past,
.upcoming {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .EventCard {
    width: 300px;
    height: 420px;
    font-size: 15px;
  }
  .EventCard .thumb {
    height: 280px;
  }

  .EventCard .infos {
    height: 420px;
  }
  .EventCard .infos .title {
    margin: 13px 0;
  }
  .EventCard .infos .time {
    font-size: 0.83em;
  }
  .EventCard .infos .detail {
    font-size: 0.82em;
  }
  .EventCard .infos .txt {
    font-size: 0.85em;
  }

  .EventCard:hover .infos {
    -webkit-transform: translateY(-280px);
    transform: translateY(-280px);
  }
}
