.events {
    padding: 0 150px;
    text-align: center;
    margin-top: 15px;
  }
  /* .controls {
      padding: 1rem;
      font-size: 0.1px;
  } */
  
  @media screen and (max-width: 600px) {
    .events {
      padding: 0;
    }
  }