.EventDetails {
  padding: 0 150px;
  text-align: center;
}

.events {
    padding: 1rem;
    text-align: center;
  }
  
  @media screen and (max-width: 1000px) {
    .EventDetails{
      padding: 0;
    }
  }

  @media screen and (max-width: 500px) {
      .events{
          padding: 0px;
      }
    }