body {
  font-size: 100%;
  /* font-family: "droid serif", serif; */
  font-family: "Montserrat", sans-serif;
  background-color: #b3d3f6;
}

body,
#wrapper {
  min-height: 100vh;
}

h1 {
  font-weight: 700;
}

.white-text {
  color: white;
}

.heading {
  text-align: center;
  margin: 20px;
  margin-bottom: 50px;
}

.container {
  margin: 10;
}

.loader {
  text-align: center;
  margin: 30em;
}

@media (max-width: 1024px) {
  .loader {
    text-align: center;
    margin: 10em;
  }
}
