.main-image{
	height:100vh;
	display: inherit;
	background-image:linear-gradient(to right, black 50%,black 50%, rgb(4, 138, 191) 50%,#0072bc 50%);
	width: 100%;
}

.main-title{
	font-size: 72px;
    color:  rgb(4, 138, 191);
    margin-top: 0;
    font-family: "Playfair";
    padding:10px;
    background-image:linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 80%,rgba(255,255,255,0.2) 80%,transparent 80%,transparent 100%);
    display: 	inline;
    line-height: 2;
}
.center-flex{
	display: flex;
  align-items: center;
  overflow: hidden;
}