@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for laptop/desktop navigation */
.nav {
  font-family: "Montserrat", sans-serif;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.nav .nav-container .clubLogo {
  display: flex;
  align-items: center;
}
.nav .nav-container .clubLogo .logo {
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}
.nav .nav-container .clubLogo h1 {
  font-size: 25px;
}
.nav .nav-container ul {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 500;
  width: 45%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav ul li:hover {
  text-shadow: 2px 2px 4px #00000048;
  font-size: 19px;
}
.nav-sticky {
  top: 0;
  position: sticky;
  z-index: 1;
}
.nav-fixed {
  top: 0;
  position: fixed;
  z-index: 1;
}

/* Styles for mobile navigation */

/* Styles for nav button */

.mnav {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.mnav .logo {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.mnav .mnav-menu {
  color: #1490e4;
  font-size: 30px;
}

/* Overlay styles */

.perspective {
  width: 100%;
  height: 100%;
  background: #aaa;
  position: relative;
}

.mnav-container {
  background: #fff;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
  transform: translateZ(0) translateX(0) rotateY(0deg);
}

.mnav-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  /* the transition delay of the height needs to be synced with the mnav-container transition time */
  -webkit-transition: opacity 0.4s, height 0s 0.4s;
  transition: opacity 0.4s, height 0s 0.4s;
}

.mnav-wrapper {
  position: relative;
}

.component {
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.modalview .mnav-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modalview .mnav-wrapper {
  -webkit-transform: translateZ(
    -1px
  ); /* solves a rendering bug in Chrome on Windows */
}

.animate .mnav-container::after {
  opacity: 1;
  height: 101%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
  position: absolute;
  height: auto;
  font-size: 2em;
}

.outer-nav.vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav.horizontal {
  left: 50%;
  width: 75%;
  max-width: 1000px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outer-nav.left {
  left: 25%;
}

.outer-nav.right {
  right: 25%;
}

.outer-nav.top {
  top: 25%;
}

.outer-nav.bottom {
  bottom: 25%;
}

.outer-nav li {
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
  margin: 0 0 30px 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav li:hover {
  color: #ffdccd;
}

.outer-nav.vertical li {
  display: block;
}

.outer-nav.horizontal li {
  margin: 15px 20px;
}

.outer-nav li::before {
  display: inline-block;
  font-family: "typicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Individual Effects */

/* Effect airbnb */
.effect-airbnb {
  background: #b8b6b4;
}

.effect-airbnb .mnav-container {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.effect-airbnb.animate .mnav-container {
  -webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
  transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
}

.no-csstransforms3d .effect-airbnb.animate .mnav-container {
  left: 75%;
}

.effect-airbnb .outer-nav a {
  opacity: 0;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.effect-airbnb.animate .outer-nav a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.effect-airbnb.animate .outer-nav a:nth-child(2) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}

.effect-airbnb.animate .outer-nav a:nth-child(3) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}

.effect-airbnb.animate .outer-nav a:nth-child(4) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.effect-airbnb.animate .outer-nav a:nth-child(5) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}

.effect-airbnb.animate .outer-nav a:nth-child(6) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.effect-airbnb.animate .outer-nav a:nth-child(7) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
  .outer-nav.horizontal,
  .outer-nav.vertical {
    font-size: 1.2em;
    width: 6.8em;
  }

  .outer-nav.right {
    right: auto;
    left: 50%;
  }
}

@media screen and (max-height: 31.6em) {
  .outer-nav a {
    margin-bottom: 20px;
  }
}
