.container{
    margin-top: 40px;
    right: 0%;
    left: 0%;
}
.heading-upcomingEvents{
    text-align:center;
    padding-top: 20px;
}
@media(max-width: 768px){
    .container{
        margin:10px;
    }
}
