#whatwedo {
  margin: 50px auto;
}
.whatwedo-block {
  padding: 30px;
  height: 270px;
  background: #242930;
}

.whatwedo-block:hover .icon-box svg {
  color: #afbac4;
}

.whatwedo-block:hover .content {
  color: #afbac4;
}

.whatwedo-block .icon-box svg {
  height: 150px;
  color: #707274;
  transition: color 0.3s ease-in-out;
}

.whatwedo-block .icon-box {
  margin-bottom: 30px;
}
.whatwedo-block .content {
  font-size: 14px;
  color: #929597;
  transition: color 0.3s ease-in-out;
}
