.container-whatwedo{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
.heading-whatwedo{
  text-align:center;
  padding-top: 20px;
}
.hexagon {
    position: relative;
    width: 300px;
    height: 173.21px;
    background: black;
    margin: 86.6px auto;
    transform: scale(1);
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.hexagon::before {
    bottom: 100%;
   border-bottom: 86.6px solid black;
}

.hexagon::after {
    top: 100%;
    border-top: 86.6px solid black;
  }

.hexagon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  color: white;
  filter: invert(100%);
}

.hexagon img .talk{
  transform: translate(-50%, -50%) scale(1);
}
  
  .hexCon{
      display: flex;
  }

@media(max-width: 768px){
    .hexagon {
        position: relative;
        width: 100px;
        height: 57.74px;
        background: black;
        margin: 28.87px auto;
        transform: scale(1);
    }
    
    .hexagon::before,
    .hexagon::after {
        content: "";
        position: absolute;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }
    
    .hexagon::before {
        bottom: 100%;
       border-bottom: 28.87px solid black;
    }
    
    .hexagon::after {
        top: 100%;
        border-top: 28.87px solid black;
      }
}